html {
  font-family: Verdana, Geneva, sans-serif;
  background-color: LavenderBlush;
}
header {
  text-align: center;
  background-color: brown;
}
.banner {
  max-height: 90px;
  max-width: 80%;
  padding: 4px;
  vertical-align: middle;
}
.logo {
  max-height: 90px;
  max-width: 10%;
  padding: 4px;
  vertical-align: middle;
}
.photo {
  display: block;
  max-height: auto;
  max-width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50px;
}
